.topo{ 
    padding: 0px 20px;
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: brown;
    color: white;
}
main{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
section, aside{
    width: 45%;
}
section header, aside header {
    padding: 10px;
    text-align: center;
    background-color: brown;
    color: white;
}
section div{
    padding-inline-start: 10px;
    text-align: justify;
    background-color: rgb(233, 232, 232);
    color: black;
}
aside div {
    padding-inline-start: 10px;
    text-align: justify;
    background-color: rgb(233, 232, 232);
    color: black;
}
